@import 'assets/fonts/Exo2_64_Latin-ext.scss';

html,
body,
.spectre {
    font-family: Exo2, sans-serif !important;
    font-size: 20px;
    margin: 0;
}

@media (max-width: 417px) {
    #layout_button {
        margin-top: 20px !important;
    }
}
