$dark-background: darken($dark-color, 5%);
$dark-text: darken($light-color, 5%);
$dark-secondary: mix($dark-color, $primary-color, 90%);
$dark-shadow: darken($dark-background, 10%);
$dark-border: darken($border-color, 10%);
$dark-overlay: rgba($dark-background, 0.69);
$dark-code: mix($dark-color, $code-color, 90%);
$dark-highlight: darken($highlight-color, 50%);
